.container {
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;
}

.title {
  color: #0049ff;
  font-weight: 800;
  margin-bottom: 8px;
}

.description {
  color: #000000;
  font-size: 18px;
  margin-bottom: 16px;
  text-align: center;
}

.loading {
  height: 40px;
  text-align: center;
}
